
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li.active-trail a {
  /*background: #ffffff;*/
}


#main-wrapper {

/* IE10 Consumer Preview */
background-image: -ms-linear-gradient(top, #FAFAFA 0%, #FFFFFF 10%, #FFFFFF 10%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #FAFAFA 0%, #FFFFFF 10%, #FFFFFF 10%);

/* Opera */
background-image: -o-linear-gradient(top, #FAFAFA 0%, #FFFFFF 10%, #FFFFFF 10%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(0.1, #FFFFFF), color-stop(0.1, #FFFFFF));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #FAFAFA 0%, #FFFFFF 10%, #FFFFFF 10%);

/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom, #FAFAFA 0%, #FFFFFF 10%, #FFFFFF 10%);
}


#main-menu-links li a.active {

/* IE10 Consumer Preview */
background-image: -ms-linear-gradient(top, #3478A3 0%, #225075 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #3478A3 0%, #225075 100%);

/* Opera */
background-image: -o-linear-gradient(top, #3478A3 0%, #225075 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3478A3), color-stop(1, #225075));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #3478A3 0%, #225075 100%);

/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom, #3478A3 0%, #225075 100%);
}



/* custom */
.tabs ul.primary a.active {
  /*background-color: #ffffff;*/
}
.tabs ul.primary a.active {
  background-color: #3D8DBD;
  color: #FFF;
}
#header {
  /*background: url(http://vivodrupal.med.cornell.edu/themes/bartik/images/headerbg.png) #424242;*/
  /*
  background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  */
}

#header-logo {
padding-top: 35px;
padding-left: 15px;
}


#logged_in_as {
	color: #FFF;
}

a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

#page-wrapper,
#footer-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}

.active_display {
	color: #FFF !important;
	background: #000 !important;
}
