
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#name-and-slogan {
  margin-left: 4px;
  margin-bottom: 20px;
}

#site-name a {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
}

#site-slogan {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  margin: 0;
}

#page-title {
  margin-bottom: 1em;
}

#footer #block-system-user-menu h2 {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.tasks-primary {
  position: absolute;
  top: 6px;
  right: 4px;
}

.tasks-primary .links {
  font-size: 14px;
  font-weight: 600;
}

.tasks-primary .links li {
  float: left;
  padding: 2px 10px;
  border-right: 1px solid #ccc;
}

.tasks-primary .links li:last-child {
  border: 0;
}

.tasks-primary a {
  padding-bottom: 3px;
  text-decoration: none;
}

.tasks-primary a.active {
  border-bottom: 1px solid #000;
}

.tasks-secondary {
  margin-bottom: 16px;
  border-bottom: 1px solid #bbb;
  padding-right: 8px;
}

.tasks-secondary .tabs {
  border: 0;
  margin: 6px;
  padding: 0;
}

.tasks-secondary .tabs a {
  margin: 0;
  padding: 6px 12px;
}

.region-content {
  clear: both;
}

.view-publications {
  position: relative;
}

.view-publications .view-header {
  padding: 1em 0;
  margin-right: 150px;
}

.view-publications .view-filters {
  position: absolute;
  top: 0;
  right: 0;
}

.view-publications .views-widget-per-page {
  margin-top: 8px;
  margin-right: -28px;
}

.view-publications .view-filters form,
.view-publications .view-filters label,
.view-publications .view-filters div {
  display: inline;
}

.view-publications .views-submit-button {
  display: none;
}

.view-publications .attachment-before {
  padding: 16px 0;
}

.view-large-table .view-content {
  overflow-x: scroll;
}

.view-large-table th,
.view-large-table td {
  vertical-align: top;
}

.flot-tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 50;
  text-align: center;
  border-radius: 8px;
  padding: 0.25em;
  min-width: 20px;
  color: #fff;
  background: #424242;
  font-size: 12px;
  margin-top: -18px;
  margin-left: 1px;
}

.region-sidebar-second .block {
  margin: 0;
  padding: 0;
}

.region-sidebar-second .block:first-child,
.region-sidebar-second .block:first-child h2 {
  -khtml-border-radius-topright: 6px;
  -khtml-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.region-sidebar-second .block h2 {
  color: #fff;
  margin: 0;
  padding: 4px 16px 5px;
  font-size: 14px;
}

.region-sidebar-second .block .content {
  margin: 0;
  padding: 10px 16px;
}

.region-sidebar-second .block-facetapi  {
  position: relative;
}

.region-sidebar-second .block-facetapi .item-list ul {
  margin: 0;
  padding: 0;
}

.region-sidebar-second .block-facetapi .item-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-api-ranges-widget .ui-slider-handle {
  border-color: #999;
}

.js .search-api-ranges-widget input,
.js .search-api-ranges-widget label {
  display: none;
}

.js .search-api-ranges-widget .text-range {
  position: absolute;
  top: 6px;
  right: 16px;
  color: #fff;
}

.js .search-api-ranges-widget .loading {
  visibility: hidden;
}

.search-api-ranges-widget .loader {
  position: absolute;
  top: 6px;
  right: 16px;
  width: 16px;
  height: 16px;
  background: url(../images/facet-range-loading.gif);
}

.select2-drop .select2-results {
  font-size: 13px;
}

.block-facetapi .select2-choices,
.block-facetapi .chosen-choices {
  padding-right: 5px;
}

.block-facetapi .select2-container .select2-search-field,
.block-facetapi .chosen-choices .search-field {
  width: 100%;
  background: #fff url(../images/search-small.png) 100% 4px no-repeat;
}

.block-facetapi .chosen-choices .search-field {
  padding-right: 15%;
}

.facetapi-limit-link,
.current-search-item-reset-link {
  display: block;
  margin: 0.5em 0;
}

.block-current-search ul {
  padding-left: 0;
}

.block-current-search li {
 list-style: none;
}


ul.publication-list {
  margin: 0;
  padding: 0;
}

ul.publication-list li {
  list-style: none;
  margin: 2em 0;
  padding: 0;
}

#content > .section {
  position: relative;
}
